 # API Value
        # -------- Ваш app_id
CLIENT_ID=--------
   # -------- Имя фамилия искомого пользователя
NAME=--------
        # -------- Произвольное название чата
CHAT_NAME=--------
           # -------- Ваш access_token
ACCESS_TOKEN=--------
         # -------- порядковый номер искомого пользователя из списка (на странице "Друзья")
FRIEND_NUM=--------
V=5.199
API_BASE_URL=https://api.vk.com/method/
DEVICE_ID=mlfvJZAixMoSTNkNRMxNz
MISS_ACCESS_TOKEN=vk1.a.ongYCIiHHsoSTtG49Ooyp1rRJW8Nr5H9Z5bxbU38VOxoPAS8XYEE8VlmI
-kR_pGb-a0PJnMOpL-TQeBepkuVGjt_13xIKKsScyMdMh2uOuCY7vacxGa-bN2L4P4P-
_ijqDnF2Sb5DDxgvvOzT8DmuNCN6Se5-bBHhbUABIykWntEHktO_KmsZYtinz7-TkmaG6v_YmcmKVmdkWv-cRgX9w
PERMISSIONS={"call":"all","change_admins":"owner","change_info":"all","change_pin":"all","change_style":"all","invite":"all","see_invite_link":"all","use_mass_mentions":"all"}

 # UI Value
                         # -------- Профиль зарегистрированного пользователя
UI_BASE_URL=https://vk.com/--------
SERVICES_URL=https://vk.com/services
GAMES_URL=https://vk.com/games
AUDIO_CSS_SELECTOR=span[class='vkitLeftMenuItem__labelIn--8rt4q'] div[role='heading']
SONG_CSS_SELECTOR=.audio_page_block__show_all_link[href='/audio?block=new_songs']
TRACK_CSS_SELECTOR=.audio_row
VIDEO_CSS_SELECTOR=li[id='l_vid'] span[class='vkitLeftMenuItem__label--dfg81 vkuiText__host vkuiText__densityCompact vkuiTypography__host vkuiTypography__normalize vkuiRootComponent__host'] div:nth-child(1)
CHILD_XPATH_SELECTOR=//h4[contains(text(),'Детям')]
UNIK_XPATH_SELECTOR=//span[@title='Любимые герои']//span[1]
GROUPS_XPATH_SELECTOR=//li[@id='l_gr']//span[contains(@class, 'vkitLeftMenuItem__label')]
SPORT_XPATH_SELECTOR=//a[@id='ui_rmenu_category2']//span[contains(@class, 'ui_rmenu_item_label')]
INPUT_XPATH_SELECTOR=//input[@id='search_query' or @placeholder='Поиск сообществ']
BUTTON_XPATH_SELECTOR=//button[@aria-label='Поиск сообществ' or contains(@class, 'search')]
APPS_XPATH_SELECTOR=//li[@id='l_mini_apps']//span[@class='vkitLeftMenuItem__label--dfg81 vkuiText__host vkuiText__densityCompact vkuiTypography__host vkuiTypography__normalize vkuiRootComponent__host']//div[1]
GAMES_XPATH_SELECTOR=//li[@id='l_ap']//a[contains(@href, 'games')]